// nextflow.config

// --- 全局参数定义 ---
params {
    // 上游分析自定义参数
    species       = "Oryza_sativa"
    base_dir      = "/home/data/t210528/Projects/RNA-seq/Oryza_sativa"
    genotypic_dir = "${params.base_dir}/input_data/genotypic_data"
    phenotype_dir = "${params.base_dir}/input_data/phenotypic_data/phenotypic_data.tsv"
    sing_image    = "${params.base_dir}/singularity/rna-seq.sif"
    reference     = "${params.base_dir}/references/GCF_034140825.1_ASM3414082v1_genomic.fna"
    annotation    = "${params.base_dir}/references/GCF_034140825.1_ASM3414082v1_genomic.gtf"
    output_dir    = "${params.base_dir}/results"
    star_index    = "${params.output_dir}/star_index"
    // 2. 下游分析自定义参数
    control_group       = "Control"
    experimental_group  = "Treatment"
    FDR = 0.05
    logFC  = 1
}

// --- Singularity 全局配置 ---
singularity {
    enabled     = true
    autoMounts  = true
    runOptions = "-B /home/data/t210528/scripts"
}

// --- executor 与资源配置 ---
process {
    executor    = 'local'
    container   = params.sing_image
    cpus        = 8
    memory      = '32 GB'
    maxForks    = 4
}
